/*
yellow: #ffff00;
dark blue: #011d48;
light green: #93FF02;
grey: #ededed;
 */

body{
  background-color: #ededed;

}

/* NAVBAR */
.setNavColor{
  color: #011d48;
  background-color: #ffff00;
}

#active{
  background-color: #011d48;
}

/* MAIN SECTION */
.mainContent{
  padding-bottom: 3%;
  color: #011d48;
  /* height: 90%; */
}

#shippingInfo{
  padding: 3% 0px;
  color: #93FF02;
}
.buttons{
  background-color: #93FF02;
}

/* FOOTER */
img{
  padding: 10% auto;
}
#footer{
  background-color: #011d48;
  position: fixed;
}

.setFooterHeadingsColor{
  color: #ffff00;
}

.setFootersTextColor, .setFootersTextColor:hover{
  color: white;
}

#contactAndLinks, #imageAndAbout, #aboutUs{
  padding-top: 5%;
}
