/*
yellow: #ffff00;
dark blue: #011d48;
light green: #93FF02;
grey: #ededed;
 */

/* NAVBAR */
.setNavColor{
  color: #011d48;
  background-color: #ffff00;
}

#active{
  background-color: #011d48;
}

/* MAIN SECTION */

html, body{
  background-color: #ededed;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  margin-top: 30px;
  color: #93FF02;
  text-transform: uppercase;
}

.col-md-4 {
  padding-bottom: 30px;
}
.quantity {
  margin: 40px 5px 0px 0px;
  font-weight: bold;
  font-size: 30px;
  color: #011d48;
}
input.quantityBox {
  font-size: inherit;
}
.quantityBox {
  margin: 40px 0px 0px 5px;
  color: #011d48;
}
.images {
  width: 300px;
  height: 300px;
}

.flip-card {
  /* background-color: #ffff00; */
  height: 200px;
  /* border: 6px solid #ffff00; */
  perspective: 1000px;
  margin: 30px 0px 100px 0px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.flip-card-front {
  /* background-color: #ffff00; */
}

.flip-card-back {
  /* background-color: #011d48; */
  transform: rotateY(180deg);
}

.btn {
  background-color: #93FF02;
  color: #011d48;
}

/* TOTAL AND CONTINUE */
#totalAndContinue{
  margin-top: 30px;
}
#totalKits{
  font-weight: bold;
  font-size: 30px;
  color: #011d48;
  margin: 5px 10px 5px 0px;
}



/* FOOTER */
#footer{
  background-color: #011d48;
  margin-top: 70px;
}

.setFooterHeadingsColor{
  color: #ffff00;
}

.setFootersTextColor, .setFootersTextColor:hover{
  color: white;
}

#contactAndLinks, #imageAndAbout, #aboutUs{
  padding-top: 5%;
}

@media (max-width: 414px) {
  html, body{
    padding-bottom: 5%;
  }
  #stemTruckImage{
    width: 100% ;
  }
  #continue{
    margin-top: 45px;
  }
}
