/*
yellow: #ffff00;
dark blue: #011d48;
light green: #93FF02;
grey: #ededed;
 */

html, body{
  background-color: #ededed;
  max-width: 100%;
  overflow-x: hidden;
 }

/* NAVBAR */
.setNavColor{
  color: #011d48;
  background-color: #ffff00;
}

#active{
  background-color: #011d48;
}

/* MAIN SECTION */
.mainContent{
  /* margin-top: 10px; */
  padding-bottom: 1%;
  color: #011d48;
  /* height: 90%; */
  text-align: center;
}

#shippingInfo{
  padding: 3% 0px;
  color: #93FF02;
}
.buttons{
  background-color: #93FF02;
}

/*  */
#backAndContinue{
  pad-bottom: 10px;
}

/* FOOTER */
#footer{
  background-color: #011d48;
  margin-top: 70px;
}

.setFooterHeadingsColor{
  color: #ffff00;
}

.setFootersTextColor, .setFootersTextColor:hover{
  color: white;
}

#contactAndLinks, #imageAndAbout, #aboutUs{
  padding-top: 5%;
}

@media (max-width: 414px) {
  html, body{
    padding-bottom: 5%;
  }
  #shippingInfo{
    padding-top: 10%;
    color: #93FF02;
  }
  #stemTruckImage{
    width: 100% ;
  }
  #continue{
    margin-top: 45px;
  }
}
